.form
  padding 1rem 8rem 3rem
  &__item
    color #999
    background #282828
    font-size 1rem
    padding-left 1rem
    font-weight 200
    line-height 3.5rem
    width 100%
    border-radius 8px
    margin-bottom 1.5rem
    border none
    &_message
      resize none
      margin-bottom 1rem
    &_button
      margin 2rem
      font-size 1.2rem
