nav.navbar
  ul.mainMenu
    li.mainMenu__item 
      a.mainMenu__button(href="#") Top
    li.mainMenu__item
      a.mainMenu__button(href="#services") Services
    li.mainMenu__item
      a.mainMenu__button(href="#portfolio") Portfolio
    li.mainMenu__item
      a.mainMenu__button(href="#contactUs") Contact