.portfolio
  .container
    .row
      .sectionHeader
        h2.sectionHeader__caption.sectionHeader__caption_dark
          |Here’s some stuff I made recently.
        p.sectionHeader__description.sectionHeader__description_dark
          |Proin odio consequat sapien vestibulum consequat lorem dolore feugiat lorem ipsum dolore.
    .row
      .col-md-4.col-sm-6
        .thumbnail
          a(href="#")
          img.thumbnail__image(src="./images/port__pic1.png" alt="picturre")
          h3.thumbnail__caption
          a.sectionHeader__caption_dark(href="#") Magna feugiat
          p.thumbnail__description Ornare nulla proin odio consequat.
      .col-md-4.col-sm-6
        .thumbnail
          a.sectionHeader__caption_dark(href="#")
          img.thumbnail__image(src="./images/port__pic2.png" alt="picturre")
          h3.thumbnail__caption
          a.sectionHeader__caption_dark(href="#") Magna feugiat
          p.thumbnail__description Ornare nulla proin odio consequat.
      .col-md-4.col-sm-6
        .thumbnail
          a(href="#")
          img.thumbnail__image(src="./images/port__pic3.png" alt="picturre")
          h3.thumbnail__caption
          a.sectionHeader__caption_dark(href="#") Magna feugiat
          p.thumbnail__description Ornare nulla proin odio consequat.
    .row
      .col-md-4.col-sm-6
        .thumbnail
          a(href="#")
          img.thumbnail__image(src="./images/port__pic4.png" alt="picturre")
          h3.thumbnail__caption
          a.sectionHeader__caption_dark(href="#") Magna feugiat
          p.thumbnail__description Ornare nulla proin odio consequat.
      .col-md-4.col-sm-6
        .thumbnail
          a(href="#")
          img.thumbnail__image(src="./images/port__pic5.png" alt="picturre")
          h3.thumbnail__caption
          a.sectionHeader__caption_dark(href="#") Magna feugiat
          p.thumbnail__description Ornare nulla proin odio consequat.
      .col-md-4.col-sm-6
        .thumbnail
          a(href="#")
          img.thumbnail__image(src="./images/port__pic6.png" alt="picturre")
          h3.thumbnail__caption
          a.sectionHeader__caption_dark(href="#") Magna feugiat
          p.thumbnail__description Ornare nulla proin odio consequat.
    .row
      .sectionFooter
        p.sectionFooter__description.sectionFooter__description_dark
          |Lorem ipsum dolor sit sapien vestibulum ipsum primis?
        a(href="#").button.button_blue
          |Get in touch with me