.sectionHeader
  display block
  text-align center
  padding-top 5rem
  &__caption
    font-size 2rem
    &_dark
      color #3e3e3e
    &_light
      color #fff
  &__description
    font-size 1.2rem
    &_dark
      color #888
      text-shadow 1px 1px 0 #fff
    &_light
      color #999
      text-shadow -1px -1px 0 #181818