$shadowBlock
  box-shadow inset 0px 0px 0px 1px rgba(0, 0, 0, .15),
                   0px 2px 3px 0px rgba(0, 0, 0, .1)

$shadowButton
  box-shadow inset 0px 0px 2px 1px rgba(0, 0, 0, .02),
             inset 0px 2px 1px 0px rgba(255, 255, 255, .75)

$shadowText_black
  text-shadow -1px -1px 0.5px rgba(0, 0, 0, .5)

$shadowInputs
  box-shadow inset 0px 2px 3px 2px rgba(0, 0, 0, .05), 
                   0px 1px 0px 0px rgba(255, 255, 255, .025)

$shadowText_white
  text-shadow: 1px 1px 0px rgba(white, .17)
  
$shadowIcon
  -webkit-box-shadow: inset 0px 21px 8px -26px rgba(255,255,255,1)
  -moz-box-shadow: inset 0px 21px 8px -26px rgba(255,255,255,1)
  box-shadow inset 0px 21px 8px -26px rgba(255,255,255,1)
  text-shadow -1px -1px 0px #181818
  
$shadowSection_white
  -webkit-box-shadow inset 0px 5px 8px -7px rgba(0,0,0,.3)
  -moz-box-shadow inset 0px 5px 8px -7px rgba(0,0,0,.3)
  box-shadow inset 0px 5px 8px -7px rgba(0,0,0,.3)