.mainFooter
  .container
    section.sectionHeader
      h2.sectionHeader__caption.sectionHeader__caption_light
        |Have me make stuff for you.
      p.sectioHeader__description.sectionHeader__description_light
        |Ornare nulla proin odio consequat sapien vestibulum ipsum sed lorem.
      form.form
        .row
          .col-md-6
            input.form__item.q(type="text" name="name" placeholder="Name")
          .col-md-6
            input.form__item.q(type="email" name="email" placeholder="Email")
        .row
          .col-xs-12
            input.form__item(type="text" name="subject" placeholder="Subject")
        .row
          .col-xs-12
            textarea.form__item.form__item_message(name="message" placeholder="Message" rows="6")
        .row
          .col-xs-12
            input.button.button_blue.form__item_button(type="submit" name="submit" value="Send Message")
            input.button.button_gray.form__item_button(type="reset" name="clear" value="Clear Form")